#title, .section-heading {
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
}

#title {
    color:rgb(0, 0, 0);
    font-size:48px;
}

.section-heading {
    font-size: 32px;
}

img {
    height: auto;
    width: 600px;
}

.detail {
    font-size: 22px;
}

ul {
    font-weight:bold;
}

.menu-recipes li {
    font-size: 35px;
    margin-bottom: 50px;
    list-style: none;
    text-align: center;
    padding: 20px;
    background-color: rgb(252, 162, 59);
}

#home-title {
    text-align: center;
    font-size: 50px;
}
