#title {
    color:rgb(0, 0, 0);
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-size:48px;
}

.section-heading {
    background-color: orange;
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
}

img {
    height: auto;
    width: 600px;
}

.detail {
    font-size: 22px;
}