#title {
    color:rgb(0, 0, 0);
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
}

.section-heading {
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: auto;
    width: 600px;
}